@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	transition: all 1s ease 0s;
}

::-webkit-scrollbar-corner {
	background: none;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(127, 127, 127, 0.6);
	background-clip: padding-box;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	border-image: initial;
	border-radius: 5px;
	transition: all 1s ease 0s;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

:root {
	--background-default: 0 0 0;
	--background-100: 0 0 0;
	--background-200: 0 0 0;
	--background-300: 0 0 0;
	--background-400: 0 0 0;
	--background-500: 0 0 0;
	--background-600: 51 51 51;
	--background-700: 102 102 102;
	--background-800: 153 153 153;
	--background-900: 204 204 204;

	--card-default: 101 0 0;
	--card-100: 20 0 0;
	--card-200: 41 0 0;
	--card-250: 49 0 0;
	--card-275: 51 0 0;
	--card-300: 61 0 0;
	--card-400: 82 0 0;
	--card-500: 101 0 0;
	--card-600: 184 0 0;
	--card-700: 255 10 10;
	--card-800: 255 92 92;
	--card-900: 255 173 173;

	--accent-default: 240 58 71;
	--accent-100: 55 4 8;
	--accent-200: 110 8 15;
	--accent-300: 165 12 23;
	--accent-400: 220 17 30;
	--accent-500: 240 58 71;
	--accent-600: 243 96 105;
	--accent-700: 246 135 143;
	--accent-800: 249 175 180;
	--accent-900: 252 215 218;

	--primary-default: 246 174 45;
	--primary-100: 56 37 2;
	--primary-200: 112 74 5;
	--primary-300: 167 111 7;
	--primary-400: 223 148 9;
	--primary-500: 246 174 45;
	--primary-600: 248 191 87;
	--primary-700: 250 207 129;
	--primary-800: 251 223 171;
	--primary-900: 253 239 213;

	--secondary-default: 242 100 25;
	--secondary-100: 50 19 3;
	--secondary-200: 100 39 6;
	--secondary-300: 150 58 9;
	--secondary-400: 200 78 12;
	--secondary-500: 242 100 25;
	--secondary-600: 244 131 70;
	--secondary-700: 247 162 116;
	--secondary-800: 250 193 162;
	--secondary-900: 252 224 209;
}

[data-theme="green"] {
	--card-default: 0 51 0;
	--card-100: 0 20 0;
	--card-200: 0 41 0;
	--card-250: 0 49 0;
	--card-275: 0 51 0;
	--card-300: 0 61 0;
	--card-400: 0 82 0;
	--card-500: 0 101 0;
	--card-600: 0 184 0;
	--card-700: 10 255 10;
	--card-800: 92 255 92;
	--card-900: 173 255 173;

	--accent-default: 0 102 0;
	--accent-100: 4 55 7;
	--accent-200: 8 111 15;
	--accent-300: 12 165 12;
	--accent-400: 30 220 17;
	--accent-500: 71 107 71;
	--accent-600: 105 243 96;
	--accent-700: 143 143 135;
	--accent-800: 180 249 175;
	--accent-900: 218 218 218;
}

[data-theme="blue"] {
	--card-default: 0 31 63;
	--card-100: 0 16 26;
	--card-200: 0 32 54;
	--card-250: 0 36 54;
	--card-275: 0 39 61;
	--card-300: 0 43 77;
	--card-400: 0 51 102;
	--card-500: 0 63 127;
	--card-600: 0 102 184;
	--card-700: 10 132 255;
	--card-800: 92 158 255;
	--card-900: 173 202 255;

	--accent-default: 0 51 102;
	--accent-100: 4 41 77;
	--accent-200: 8 78 110;
	--accent-300: 12 110 165;
	--accent-400: 17 127 220;
	--accent-500: 58 148 240;
	--accent-600: 105 170 243;
	--accent-700: 143 190 246;
	--accent-800: 180 210 249;
	--accent-900: 218 235 252;
}

[data-theme="purple"] {
	--card-default: 64 0 51;
	--card-100: 26 0 16;
	--card-200: 54 0 36;
	--card-250: 54 0 49;
	--card-275: 61 0 51;
	--card-300: 77 0 61;
	--card-400: 102 0 102;
	--card-500: 127 0 127;
	--card-600: 184 0 184;
	--card-700: 255 10 255;
	--card-800: 255 92 255;
	--card-900: 255 173 255;

	--accent-default: 102 51 102;
	--accent-100: 77 4 41;
	--accent-200: 110 8 78;
	--accent-300: 174 12 165;
	--accent-400: 220 17 127;
	--accent-500: 240 71 148;
	--accent-600: 243 105 170;
	--accent-700: 246 143 189;
	--accent-800: 249 180 210;
	--accent-900: 252 215 218;
}

.bronze {
	background: linear-gradient(
		to bottom left,
		rgba(139, 69, 19, 1) 0%,
		rgba(205, 127, 50, 1) 100%
	);
}
.silver {
	background: linear-gradient(
		to bottom left,
		rgba(192, 192, 192, 1) 0%,
		rgba(169, 169, 169, 1) 100%
	);
}

.gold {
	background: linear-gradient(
		to bottom left,
		rgba(255, 215, 0, 1) 0%,
		rgba(205, 127, 50, 1) 100%
	);
}

.platinum {
	background: linear-gradient(to bottom left, cyan 0%, rgb(84, 84, 255) 100%);
}
.diamond {
	background: linear-gradient(
		to bottom left,
		darkmagenta 0%,
		rgb(255, 0, 255) 100%
	);
}

.fuck-css {
	user-select: none;
	background-clip: text;
	font-weight: bolder;
}

img {
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
}

.chatbox {
	overflow-anchor: auto;
}

body {
	overflow-y: scroll;
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
